<div class="container mx-auto p-5">
  <div class="flex justify-between items-center mb-5">
    <div class="flex-1">
      <!-- Search Component -->
      <app-search class="w-full" [(filterCriteria)]="listFiltred"></app-search>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3">
    <div class="w-full md:w-1/4 px-3 mb-5">
      <!-- Category List Component -->
      <app-categorie-list></app-categorie-list>
    </div>
    <div class="w-full md:w-3/4 px-3">
      <!-- Product List Component -->
      <app-product-list [filterList]="listFiltred()"></app-product-list>
    </div>
  </div>
</div>
