@if (cartItems().length) {
<div class="p-6 max-w-4xl mx-auto bg-white border border-gray-200 rounded-lg shadow-lg">
    <div class="space-y-4">
      <!-- Header Row -->
      <div class="grid grid-cols-6 gap-4 text-gray-800 font-semibold border-b border-gray-200 pb-2 mb-2">
        <div class="text-left">Image</div>
        <div class="text-left">Product</div>
        <div class="text-left">Category</div>
        <div class="text-center">Price (€)</div>
        <div class="text-center">Quantity</div>
        <div class="text-right"></div>
      </div>

      <!-- Display the cart items -->
      @for (item of cartItems(); track $index) {
        <app-cart-item [item]="item" />
        <hr class="border-gray-200" />
      }
    </div>

</div>
} @else {
  <app-data-not-found />
}
